@import '../../../node_modules/normalize-scss/sass/normalize/';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@400;500&display=swap');
@import 'variables.scss';
@include normalize();

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-bg-color;
    color: $main-font-color;
}

h1 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $img-bg-color;
    border-radius: $radius;
}

input {
    display: block;
    width: 100%;
    outline: none;
    border: $secondary-border;
    color: $dark;
}

label {
    display: block;
    width: 100%;
    text-align: left;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.btn {
    padding: 14px 20px;
    font-size: 20px;
    line-height: 24px;
}

.btn--primary {
    border: none;
    background-color: $primary-blue;
    color: $white;
    &:disabled {
        opacity: 0.5;
    }
}

.btn--secondary {
    background-color: $white;
    color: $primary-blue;
    border: $primary-border;
}

.error {
    color: $error;
}