$main-bg-color: #eaeaea;
$main-font-color: #2c3e50;
$white: #ffffff;
$black: #000000;
$primary-gray: rgba(23, 23, 25, 0.3);
$secondary-gray: rgba(39, 39, 39, 0.3);
$dark: #272727;
$primary-blue: #1390E5;
$secondary-blue: rgba(197, 228, 249, 0.3);

$radius: 10px;
$small-radius: 10px;
$primary-border: 1px solid #1390E5;
$secondary-border: 1px solid rgba(23, 23, 25, 0.2);
$border: 1px solid rgba(139, 60, 60, 0.1);